body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    background-color: rosybrown;
}
.oder-list{
    width: 50% ;
    margin-left: 50px;
    
}

ol :nth-child(2n+1){
    color: red;
}
h2{
    font-size: 1.5rem;
    text-align: justify;
    color: white;
}
/* this is table line */
tr th{
    border:2px solid gray;
}
tr th:nth-child(2n+1){
    background-color: rgb(203, 214, 187);
}
td{
    border: 2px solid gray;
    padding: 10px;
}
table {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    margin-left: 10px;
   
}
  tr td:nth-child(2n+1){
    background-color: gray;
   
}
.section-1{
    display: flex;
    margin-top: 50px;
}
.section-1 h1{
    text-align: center;
    
}
.container-1{
    width: 40%;
    text-align: justify ;
    margin-left: 10px;
}
.container-2{
    width: 40%;
    margin-left: 100px;
    
}
aside{
    float: right;
    width: 40%;
    padding: 20px;
    margin-left: 5rem;
    padding-left: 19px;
    border: inset 10px;
}
video{
    width: 300px;
    height: auto;
    margin-top: 50px;
}
